@mixin Column-img-wrapper($height) {
  .Column-img-wrapper {
    flex-basis: calc(#{$height} - 20px);
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@mixin Column-data-wrapper($height) {
  .Column-data-wrapper {
    flex: 1;
    margin: calc((#{$height} - 52px) / 2) 20px;
    .Column-data-name {
      font-size: 0.9rem;
      font-family: $font-family-default;
    }
    .Column-data-message {
      font-size: 0.7rem;
    }
  }
}
.Section-body {
  height: calc(100vh - 200px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .Section-devider {
    border: none;
    border-bottom: 1px solid #cecece;
    margin: 5px 20px;
  }
  .Article-header {
    padding: 5px 20px;
    font-size: 0.8rem;
  }
  .Column-container {
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    transition-duration: 0.3s;

    &.lg {
      $height: 70px;
      height: $height;
      @include Column-img-wrapper($height);
      @include Column-data-wrapper($height);
    }
    &.sm {
      $height: 60px;
      height: $height;
      @include Column-img-wrapper($height);
      @include Column-data-wrapper($height);
    }
    &:active {
      background: #cecece;
    }
    $column-tail: Column-tail;
    .#{$column-tail} {
      .#{$column-tail}-top {
        font-size: 0.7rem;
      }
      .#{$column-tail}-bottom {
        text-align: right;
        font-size: 0.8rem;
      }
    }
  }
}
